{% extends "base.html" %}
{% load static %}

{% block title %}Editing {{ project_title }}{% endblock %}


{# NOTE :: This is to make the select2 select widgets work #}
{% block header-js %}
  <script src="https://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    #project-partners tbody tr td:nth-child(1),
    #project-partners tbody tr td:nth-child(5),
    #project-partners tbody tr td:nth-child(6),
    #project-partners tbody tr td:nth-child(7),
    #project-partners tbody tr td:nth-child(8),
    #project-partners tbody tr td:nth-child(9) {
      word-break: break-word;
    }

    #org-modal {
    z-index: 1052 !important;
    }
    #org-modal {
        z-index: 1051 !important;
    }
  </style>
{% endblock %}


{% block sidebar %}
  {% include 'rock/fragments/edit_sidebar.html' %}
{% endblock %}


{% block content %}

<h4><b>Current {{ project_type|title }}: {{ project_title }}</b></h4>
<p><b>Description of the action</b></p>
<br>

<div class="row-fluid" id="project">
  <nav> <!-- Tabbed navigation through the Project form -->
    <div class="nav nav-fill nav-pills" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab">Project Details</a>
      <a class="nav-item nav-link" id="nav-partners-tab" data-toggle="tab" href="#nav-partners" role="tab">Organisations</a>
      <a class="nav-item nav-link" id="nav-funding-tab" data-toggle="tab" href="#nav-funding" role="tab">Funding Mechanisms</a>
      <a class="nav-item nav-link" id="nav-business-tab" data-toggle="tab" href="#nav-business" role="tab">Business Model</a>
    </div>
  </nav>
  <br>

  {% if link_formset.non_form_errors %}
    {% for error in link_formset.non_form_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}

  <form action="{% url 'editproject' project_id %}" method="post">
    {% csrf_token %}
    {{ rock_form.project_type.as_hidden }}
    <div id='management-form'>{{ link_formset.management_form }}</div>

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-details" role="tabpanel">
        <table id="project-details" class="table table-bordered decart-table">
          <tbody>
            <tr>
              <div class="fieldWrapper">
                {{ field.errors }}
                <th>Title</th>
                <td>{{ project_form.title }}</td>
              </div>
            </tr>
            <tr>
              <th>Summary</th>
              <td>{{ project_form.summary }}</td>
            </tr>
            {{ project_form.goal.as_hidden }}
            <tr>
              <th>Goal</th>
              <td>{{ project_form.goal }}</td>
            </tr>
            <tr>
              <th>Start Date</th>
              <td>{{ project_form.start_date }}</td>
            </tr>
            <tr>
              <th>End Date</th>
              <td>{{ project_form.end_date }}</td>
            </tr>
            {% if project_type == "Task" %}
              <tr>
                <th>Work Package</th>
                <td>{{ rock_form.work_package }}</td>
              </tr>
              <tr>
                <th>Associated work packages</th>
                <td>{{ rock_form.associated_wps }}</td>
              </tr>
            {% endif %}
            <tr>
              <th>City</th>
              <td>{{ rock_form.city }}</td>
            </tr>
            <tr>
              <th>Lead Administrative Organisation</th>
              <td>{{ rock_form.lead_administrative_organisation }}</td>
            </tr>
            <tr>
              <th>Lead Scientific Organisation</th>
              <td>{{ rock_form.lead_scientific_organisation }}</td>
            </tr>
            <tr>
              <th>Contact person(s)</th>
              <td>{{ rock_form.contact_person }}</td>
            </tr>
            <tr>
              <th>Total budget</th>
              <td>{{ rock_form.budget_currency }} {{ rock_form.budget_amount }}</td>
            </tr>
            <tr>
              <th>Note</th>
              <td>{{ project_form.note }}</td>
            </tr>
            <tr>
              <th>
                External Links
                <p>
                  <button class="btn btn-primary" id="add_link" type="button">
                    Add a link
                  </button>
                </p>
              </th>
              <td>
                <table class="table" id="link_table">
                  <tbody>
                    {% for link in link_formset %}
                      {{ link.id }}
                      {{ link.DELETE.as_hidden }}
                      <tr>
                        <td>{{ link.url }}</td>
                        <td class="option-1">
                          <button class="btn btn-danger btn-sm btn-delete-link" title="Remove" type="button">
                            <i class="far fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                      {% if link.url.errors %}
                        {% for error in link.url.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-partners" role="tabpanel">
        <!-- <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#add-partner-modal"> -->
        <p>
          <button type="button" class="btn btn-dark" id='add-partner-btn'>
            Assign/Add Organisation to Activity
          </button>
        </p>
        <table id="project-partners" class="table table-bordered decart-table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Scale</th>
              <th>Type</th>
              <th>Location</th>
              <th>Website</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Other Details</th>
              <th class="option-1">Remove?</th>
            </tr>
          </thead>
          <tbody>
            {% for partner in partners %}
              <tr id="partner-{{ partner.pk }}-{{ partner.role }}">
                <td>{{ partner.name|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.role }}</td>
                <td>{{ partner.scale|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.get_organisation_type_display|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.location|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.website|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.phone|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.email|default_if_none:"&nbsp;" }}</td>
                <td>{{ partner.other_info|default_if_none:"&nbsp;" }}</td>
                <td class="option-1">
                  <button class="btn btn-sm delete-partner btn-danger" title="Remove" type="button">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-funding" role="tabpanel">
        <p>
          <button type="button" class="btn btn-dark" id='add-funding-btn'>
            Add A Funding Mechanism
          </button>
        </p>

        <table id="project-funding" class="table table-bordered decart-table">
          <thead class="thead-dark">
            <tr>
              <th class="option-2">Options</th>
              <th>Mechanism</th>
              <th>Provider</th>
              <th>Type Of Provider Ownership</th>
              <th>Type Of Provider</th>
              <th>Amount</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for mech in funding_mechanisms %}
              <tr id="funding-{{ mech.pk }}">
                <td class="option-2">
                  <div class="btn-group">
                    <button class="btn btn-sm edit-funding btn-success" title="Edit" type="button">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-sm delete-funding btn-danger" title="Remove" type="button">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
                {% if mech.mechanism == "Other" %}
                  <td>{{ mech.other_details }}</td>
                {% else %}
                  <td>{{ mech.mechanism }}</td>
                {% endif %}
                <td>{{ mech.provider }}</td>
                <td>{{ mech.provider_ownership }}</td>
                <td>{{ mech.provider_type }}</td>
                <td>{{ mech.currency }} {{ mech.amount }}</td>
                <td>{{ mech.note }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-business" role="tabpanel">
        <table id="project-business" class="table table-bordered decart-table">
          <tr>
            <th>Partners</th>
            <td>{{ business_form.partners }}</td>
          </tr>
          <tr>
            <th>Activities</th>
            <td>{{ business_form.activities }}</td>
          </tr>
          <tr>
            <th>Resources</th>
            <td>{{ business_form.resources }}</td>
          </tr>
          <tr>
            <th>Value Proposition</th>
            <td>{{ business_form.value_proposition }}</td>
          </tr>
          <tr>
            <th>Project Audiences Relationship</th>
            <td>{{ business_form.customer_relationship }}</td>
          </tr>
          <tr>
            <th>Channels</th>
            <td>{{ business_form.channels }}</td>
          </tr>
          <tr>
            <th>Project Audiences Segments</th>
            <td>
              <div>Project Audiences and Customers:
                <ul>
                  {% for audience in audiences %}
                    <li>{{ audience }}</li>
                  {% empty %}
                    <li>Sorry, no beneficiaries in this project.</li>
                  {% endfor %}
                </ul>
              </div>
              {{ business_form.customer_segments }}
            </td>
          </tr>
          <tr>
            <th>Costs</th>
            <td>{{ business_form.costs }}</td>
          </tr>
          <tr>
            <th>Revenues</th>
            <td>{{ business_form.revenues }}</td>
          </tr>
        </table>
      </div>
    </div>
    <input type="submit" class="btn btn-success" value="Save"/>
  </form>
</div>
{% endblock %}


{% block modal %}
<!-- Funding Mechanism Form -->
{{ funding_modal }}

<!-- Create Partner Form -->
{{ org_modal }}

<!-- Add Partner Form -->
<div class="modal fade" id="add-partner-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Assign/Add organisation to this activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row-fluid" id="partner-adder">
          <form id="add-partner-form" action="{% url 'addorg' project_id %}" method="post">
            {% csrf_token %}
            Please an organisation you would like to add to the project:
            <br>
            <select name="id" id="partner-selector">
              {% for organisation in all_organisations %}
                <option value="{{ organisation.pk }}">{{ organisation.name }}</option>
              {% endfor %}
            </select>

            <p>
              <button class="btn btn-dark" type="button" id="btn-create-org">
                Create new organisation
              </button>
            </p>

            What role will this organisation be performing in the project?
            <br>
            <select name="role" id="role-selector">
              <option value="partner">Partner (working with you to deliver the project)</option>
              <option value="audience">Audience (a beneficiary of the project)</option>
            </select>

            <br><br>

            <div class="modal-footer">
              <input type="submit" class='btn btn-success' value="Add to Project"/>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-placeholder">
</div>

{# Placeholder for JS to add more forms #}
<div id="empty_link_form" style="display:none">
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>{{ link_formset.empty_form.url }}</td>
        <td class="button" class="option-1">
          <button class="btn btn-danger btn-sm btn-delete-link" title="Remove" type="button">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {% if link_formset.empty_form.url.errors %}
        {% for error in link_formset.empty_form.url.errors %}
          {{ error|escape }}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    {# These are used by details.js #}
    var URLS = {

        // AJAX handlers
        editFunding: "{% url 'editfunding' 0 %}",
        addFunding: "{% url 'addfunding' project_id %}",
        deleteFunding: "{% url 'deletefunding' %}",
        addOrg: "{% url 'addorg' project_id %}",
        removeOrg: "{% url 'removeorg' project_id %}",
        newOrg: "{% url 'neworg' %}",

    };
</script>

<script src="{% static 'js/rock/projects/details.js' %}"></script>
{% endblock %}
